@if (selected === apps.CrystallineGiant) {
<app-crystalline-giant>
</app-crystalline-giant>
}

@else if (selected === apps.WatchfulRadstag) {
<app-watchful-radstag>
</app-watchful-radstag>
}

@else {
<div class="app-selector">
  <div class="app-selector-button">
    <button (click)="selected = apps.CrystallineGiant" mat-raised-button>
      Crystalline Giant
    </button>
  </div>
  <div class="app-selector-button">
    <button (click)="selected = apps.WatchfulRadstag" mat-raised-button>
      Watchful Radstag
    </button>
  </div>
</div>
}
