.imgbox {
  display: grid;
  height: 100%;
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.text-hidder {
  position: relative;
  background: #D8E2EE;
}

.card-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 2px;
  margin: 2px;
}

.card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.m4 {
  margin: 1px 3px !important;
}

.edit-list-container {
  width: 100%;
  max-height: 100vh;
}

.app-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.app-selector-button {
  padding: 6px;
}
